@import "navbar";
@import "root";
@import "reset";
@import "links";

.site-container{
    margin: 0 300px;
}
.main-content{
    margin-top: 50px;
    font-family: var(--title-font-family);
}
.main-content .title{
    font-size: var(--normal-title);
    padding-bottom: 10px;
    width: 20%;
    border-bottom: 1px solid rgb(190, 190, 190);
}