@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&display=swap");
.navbar {
  background-color: var(--jk-purple);
  height: var(--jk-navheight);
  padding: 50px 0 0 0;
  text-align: center;
  font-family: var(--jk-site-font);
  color: var(--jk-mfont-color);
}

.navbar .logo {
  font-size: var(--title-font);
  font-family: var(--title-font-family);
}

.navbar .quote {
  padding-bottom: 40px;
}

:root {
  --jk-purple: #A020F0;
  --jk-navheight: 30vh;
  --jk-site-font: "Roboto", sans-serif;
  --jk-mfont-color: white;
  --title-font: 50px;
  --title-font-family: "Kanit", sans-serif;
  --normal-title: 30px;
  --border-bottom: 1px solid rgb(190, 190, 190);
}

* {
  margin: 0;
  padding: 0;
}

.footerbar {
  margin-top: 100px;
  font-family: var(--title-font-family);
  background-color: var(--jk-purple);
  padding: 50px 0;
  color: var(--jk-mfont-color);
}

.footer-grid {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 1rem;
  grid-template-areas: "a b c d";
  padding: 45px 0;
  margin-bottom: 5px;
}

.item1 {
  grid-area: a;
  text-align: left;
}

.title, .item2 .title {
  font-size: var(--normal-title);
}

.site-container {
  margin: 0 300px;
}

.main-content {
  margin-top: 50px;
  font-family: var(--title-font-family);
}

.main-content .title {
  font-size: var(--normal-title);
  padding-bottom: 10px;
  width: 20%;
  border-bottom: var(--border-bottom);
}

.main-content .body {
  padding-top: 15px;
}