@import "navbar";
@import "root";
@import "reset";
@import "links";
@import "footer";

.site-container{
    margin: 0 300px;
}
.main-content{
    margin-top: 50px;
    font-family: var(--title-font-family);
}
.main-content .title{
    font-size: var(--normal-title);
    padding-bottom: 10px;
    width: 20%;
    border-bottom: var(--border-bottom);
}
.main-content .body{
    padding-top: 15px;
}
.main-logo{
    margin: 50px 0;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    align-items: center;
}
