.footerbar {
  margin-top: 100px;
  font-family: var(--title-font-family);
  background-color: var(--jk-purple);
  padding: 50px 0;
  color: var(--jk-mfont-color);
}

.footer-grid {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 1rem;
  grid-template-areas: "a b c d";
  padding: 45px 0;
  margin-bottom: 5px;
}

.item1 {
  grid-area: a;
}

.item2 {
  grid-area: b;
}

.item3 {
  grid-area: c;
}

.item4 {
  grid-area: d;
}

.title {
  font-size: var(--normal-title);
  padding-bottom: 20px;
}

.footer-logo {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.fooer-a {
  color: var(--jk-mfont-color);
}