.navbar{
    background-color: var(--jk-purple);
    height: var(--jk-navheight);
    padding: 50px 0 0 0;
    text-align: center;
    font-family: var(--jk-site-font);
    color: var( --jk-mfont-color);    
}
.navbar .logo{
    font-size: var(--title-font);
    font-family: var(--title-font-family);
}
.navbar .quote{
    padding-bottom: 40px;
}
.other-nav{
    @extend .navbar;
    height: var(--othernav-height);
}
.get-nav{
    @extend .other-nav;
}
.example-nav{
    @extend .other-nav;
}